:root{
  --accent-1:#5ddcff;
  --accent-2:#3c67e3;
  --accent-3:#4e00c2;
  --card-height:44vh;
  --card-width:320px;
  --bg:#0b0d12;
  --text:#aeecff;
}

/* Reptile Cursor Styles */
#reptile-cursor {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;   /* не мешаем кликам по сайту */
  z-index: 9999;
}

body {
  cursor: none;
}


